<template>
  <svg
    version="1.1"
    :class="classList"
    :viewBox="item.viewBox"
    v-html="item.path"
    :style="style"
    @click="e => $emit('click', e)">

  </svg>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true
    }
  },

  computed: {
    item() {
      let item = this.$root.$vSvgIcons.getIcon(this.name)
      return item || {
        viewBox: null,
        path: null,
        width: this.$root.$vSvgIcons.defaultWidth,
        height: this.$root.$vSvgIcons.defaultHeight
      }
    },

    classList() {
      return this.$root.$vSvgIcons.class
    },

    style() {
      return {
        width: this.$root.$vSvgIcons.defaultWidth || this.item.width,
        height: this.$root.$vSvgIcons.defaultHeight || this.item.height
      }
    }
  },
}
</script>